.width-exsmall{
    width: 55%;
    margin: 0 auto;
    text-align: center;
}



.width-small{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.width-medium{
    width: 80%;
    margin: 0 auto;
   
}

.buttonbg{
        display: inline-block;
        color: white;
        background-color: red;
        font-size: 1rem;
        padding: 1rem 2rem;
        @media (max-width: 768px){
            padding: .5rem 1rem;
           }

}


.margin-top{
    margin-top: 5rem;
}

.margin-btm{
    margin-bottom: 5rem;
}

.margin-btm-s{
    margin-bottom: .1rem;
}


.display-in-b{
    display: inline-block;
}

.edge{
    margin-left: 70%;
}

.bold-txt{
    font-weight: bold;
}

.no-border{
    border: none;
}

.color1{
    background-color: whitesmoke;
}

.price-margin{
    margin-left: 16rem;
    margin-top: .3rem;
    }

    .right-b-m-1{
      margin-left: 5rem;  
    }
    .right-b-m-2{
        margin-left: 4rem;  
      }
      .right-b-m-3{
        margin-left: 6.5rem;  
      }

    
.move-down{
    margin-top: 10rem;
}

.active-font{
    color: #f32172;
}

.active-icon{
    fill:#f32172;
}

.active-icon{
    fill:#f32172;
}


